<source>
  @type tail
  @id tailing_fluentd
  path /var/log/td-agent/td-agent.log
  pos_file /var/log/td-agent/self.log.pos
  tag fluentd.logs
  format none
</source>

<source>
  @type kafka_group

  brokers cell-1.streaming.${REGION}.oci.oraclecloud.com:9092
  consumer_group fluentD-group-1
  topics logs
  format text
  add_prefix oss

  # ruby-kafka consumer options
  max_bytes 1048576
  # max_wait_time           (integer) :default => nil (Use default of ruby-kafka)
  # min_bytes               (integer) :default => nil (Use default of ruby-kafka)
  # offset_commit_interval  (integer) :default => nil (Use default of ruby-kafka)
  # offset_commit_threshold (integer) :default => nil (Use default of ruby-kafka)
  # fetcher_max_queue_size  (integer) :default => nil (Use default of ruby-kafka)
  # refresh_topic_interval  (integer) :default => nil (Use default of ruby-kafka)
  # start_from_beginning true

  sasl_over_ssl true
  username ${TENANCY_NAME}/${USER_NAME}/${STREAM_POOL}
  password ${AUTH_CODE}
  ssl_ca_certs_from_system true

</source>

<match oss.**>
  @type elasticsearch
  host ${ES_HOST}
  port ${ES_PORT}
  user ${ES_USER}
  password ${ES_PASS}
  scheme https
  index_name fluentd
  type_name oss_logs
    <buffer tag>
      @type file
      retry_timeout  3h
      path  /var/log/td-agent/buffer/oss_es_logging
      disable_chunk_backup  true
      chunk_limit_size  5MB
      flush_interval  30s
      total_limit_size  1GB
      overflow_action  throw_exception
      retry_type  exponential_backoff
  </buffer>
</match>

<match fluentd.**>
  @type elasticsearch
  host ${ES_HOST}
  port ${ES_PORT}
  user ${ES_USER}
  password ${ES_PASS}
  scheme https
  index_name fluentd
  type_name fluentd_logs
    <buffer tag>
        @type file
        retry_timeout  3h
        path  /var/log/td-agent/buffer/fluentd_es_logging
        disable_chunk_backup  true
        chunk_limit_size  5MB
        flush_interval  30s
        total_limit_size  1GB
        overflow_action  throw_exception
        retry_type  exponential_backoff
    </buffer>
</match>
