
<source>
  @type tail
  @id tailing_fluentd
  path /var/log/td-agent/td-agent.log
  pos_file /var/log/td-agent/self.log.pos
  tag fluentd.logs
  format none
</source>

<source>
  @type kafka_group

  brokers cell-1.streaming.${REGION}.oci.oraclecloud.com:9092
  consumer_group fluentD-group-1
  topics logs
  format text
  add_prefix oss

  # ruby-kafka consumer options
  max_bytes 1048576
  # max_wait_time           (integer) :default => nil (Use default of ruby-kafka)
  # min_bytes               (integer) :default => nil (Use default of ruby-kafka)
  # offset_commit_interval  (integer) :default => nil (Use default of ruby-kafka)
  # offset_commit_threshold (integer) :default => nil (Use default of ruby-kafka)
  # fetcher_max_queue_size  (integer) :default => nil (Use default of ruby-kafka)
  # refresh_topic_interval  (integer) :default => nil (Use default of ruby-kafka)
  # start_from_beginning true

  sasl_over_ssl true
  username ${TENANCY_NAME}/${USER_NAME}/${STREAM_POOL}
  password ${AUTH_CODE}
  ssl_ca_certs_from_system true

</source>


<match fluentd.**>
  @type              dynatrace
  active_gate_url    https://${DYNA_TRACE_HOST_NAME}/api/v2/logs/ingest
  api_token          ${DYNA_TRACE_API_KEY}
  ssl_verify_none    false
  inject_timestamp   false
</match>

<match oss.**>
  @type              dynatrace
  active_gate_url    https://${DYNA_TRACE_HOST_NAME}/api/v2/logs/ingest
  api_token          ${DYNA_TRACE_API_KEY}
  ssl_verify_none    false
  inject_timestamp   false
</match>
