<source>
  @type kafka_group

  brokers cell-1.streaming.${REGION}.oci.oraclecloud.com:9092
  consumer_group fluentD-group-1
  topics logs
  format text
  add_prefix oss

  # ruby-kafka consumer options
  max_bytes 1048576
  # max_wait_time           (integer) :default => nil (Use default of ruby-kafka)
  # min_bytes               (integer) :default => nil (Use default of ruby-kafka)
  # offset_commit_interval  (integer) :default => nil (Use default of ruby-kafka)
  # offset_commit_threshold (integer) :default => nil (Use default of ruby-kafka)
  # fetcher_max_queue_size  (integer) :default => nil (Use default of ruby-kafka)
  # refresh_topic_interval  (integer) :default => nil (Use default of ruby-kafka)
  # start_from_beginning true

  sasl_over_ssl true
  username ${TENANCY_NAME}/${USER_NAME}/${STREAM_POOL}
  password ${AUTH_CODE}
  ssl_ca_certs_from_system true

</source>

## match tag=oss.** and dump to dataDog
# send them to Datadog
<match oss.**>

  @type datadog
  @id awesome_agent
  api_key ${DATA_DOG_API_KEY}

  <buffer>
          @type memory
          flush_thread_count 4
          flush_interval 10s
          chunk_limit_size 5m
          chunk_limit_records 500
  </buffer>

</match>
